################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/WpfAppBall/WpfAppBall.slnx
/WpfAppBall/.vs/WpfAppBall.slnx/FileContentIndex/0cc5d82a-945a-4f0d-9933-fa624ec3717d.vsidx
/WpfAppBall/.vs/WpfAppBall.slnx/FileContentIndex
